<div class="flex flex-col flex-auto min-w-0" *ngIf="data">

    <ng-container>

        <div class="ml-1" [innerHTML]="data.component.content.question"></div>

        <!-- Options -->
        <mat-radio-group [(ngModel)]="data.runtime.data.answer">
            <mat-radio-button
            *ngFor="let option of data.component.content.options"
            [value]="option.key"            
            >
            {{ option.value }}
            </mat-radio-button>
        </mat-radio-group>

    
    </ng-container>
    
    

</div>
